@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* VARIÁVEIS CSS DE TEMA DINÂMICO */
@layer base {
  :root {
    --color-primary: 94 13 139;  
    --color-accent: 142 36 199;  
  }
  .dark {
    --color-primary: 182 87 255; 
    --color-accent: 216 180 254; 
  }
}

/* Estilos globais para a barra de rolagem responsiva ao tema */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-600;
}

body {
  @apply bg-igs-bg dark:bg-igs-dark text-slate-800 dark:text-slate-200 antialiased transition-colors duration-300;
}